<!-- src/app/app.component.html -->
<div class="container mt-4">
  <h1 style="font-family: sans-serif; color: #2c5379;">{{ title }}</h1>
  
  <form (ngSubmit)="convertCurrency()">
    <div class="form-group" style="padding-bottom: 10px;">
      <label for="fromCurrency" style="padding-right: 10px;">From Currency</label>
      <input id="fromCurrency" style="border-radius: 5px;" [(ngModel)]="fromCurrency" name="fromCurrency" class="form-control" required>
    </div>

    <div class="form-group" style="padding-bottom: 10px;">
      <label for="toCurrency" style="padding-right: 10px;">To Currency</label>
      <input id="toCurrency" style="border-radius: 5px;" [(ngModel)]="toCurrency" name="toCurrency" class="form-control" required>
    </div>

    <div class="form-group" style="padding-bottom: 10px;">
      <label for="amount" style="padding-right: 10px;">Amount</label>
      <input id="amount" type="number" style="border-radius: 5px;" [(ngModel)]="amount" name="amount" class="form-control" required>
    </div>

    <div class="form-group" style="padding-bottom: 10px;">
      <label for="date" style="padding-right: 10px;">Date (Optional, format: yyyy-MM-dd)</label>
      <input id="date" type="date" style="border-radius: 5px;" [(ngModel)]="date" name="date" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Convert</button>
  </form>

  <div *ngIf="convertedAmount" class="mt-3">
    <h3 style="font-family: sans-serif; color: #2c5379;">Converted Amount: {{ convertedAmount }}</h3>
  </div>

  <div *ngIf="errorMessage" class="mt-3 alert alert-danger" style="font-family: sans-serif; color: #2c5379; padding-top: 20px;">
    {{ errorMessage }}
  </div>
</div>
